@import "~theme/variables";

.ion-page {
    display: block;
    overflow-y: scroll;
}

.item-group {
    background: white;
    box-shadow: rgb(0 0 0 / 15%) 0 3px 1px -2px;
    margin: 5px 4px;
    padding: 3px;

    .item {
        padding: 8px 10px;
    }

    .item:not(:last-child) {
        border-bottom: 1px solid $darkGray;
    }
}


.item.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .transport-infos {
        display: flex;

        wii-icon {
            width: 40px;
            margin-right: 10px;
        }
    }
}

.type {
    display: flex;
    background-color: #CBCBCB;
    color: #666666;
    padding: 4px 12px;
    border-radius: 5px;
    font-size: 12px;
    width: max-content;
    height: min-content;
    margin-bottom: 3px;

    &.to-collect {
        justify-content: center;
        align-items: center;
        width: 100%;
        background: $purple;
        color: white;
        font-weight: bold;
    }

    img {
        width: 15px !important;
        margin-right: 4px;
    }

    wii-icon {
        width: 15px !important;
        margin-right: 4px !important;
    }
}

.client-info {
    display: flex;

    wii-icon {
        height: 15px;
        width: 15px;
        min-width: 15px;
        margin-top: 7px;
    }

    & > div {
        flex: 1 1 auto;
        margin-left: 10px;

        &.inline {
            display: flex;

            & :not(:first-child) {
                margin-left: 10px;
            }
        }

        .free-field {
            display: inline-block;
            width: 49%;
        }

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.date-infos {
    padding: 10px;

    .date {
        display: flex;
    }
}

.emergency {
    display: inline-flex;
    color: $danger;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;

    wii-icon {
        width: 15px !important;
        margin-right: 5px !important;
    }
}

.text-muted {
    color: $medium;
}

.page-footer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;

    ion-button {
        width: 47.5%;
        margin: 0 !important;
        font-size: 13px !important;
        text-transform: none !important;
    }
}

ion-button[disabled] {
    --ion-color-base: #CBCBCB !important;
}