page-collecte-emplacement {
  .col-menu-stats {
    margin: 0 auto;
    border: none !important;
  }

  .row-menu-stats {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 100px 0;

    > ion-col {
      padding-bottom: 10px;
    }

    ion-icon {
      font-size: 150px;
    }

    .big {
      font-size: 60px;
      font-weight: bold;
    }
    .smaller {
      font-size: 30px;
    }
  }
}


