.title-header {
    background-color: var(--header-color-expedition, #f699cd);
}

h1 {
  margin-bottom: 50%;
}

.band {
  background: var(--header-color-expedition, #f699cd);
}

.button {
  background: var(--header-color-expedition, #f699cd);
}