<div class="ion-page" *ngIf="transport">
    <div class="page-content"
         scroll-y="true">
        <div class="contact">
            <div style="padding-top: 2px">
                <wii-icon name="user.svg" color="black"></wii-icon>
            </div>
            <div class="contact-infos">
                <b>{{ transport.contact.name }}</b><br>
                <span [innerHTML]="transport.contact.address"></span>
            </div>
        </div>
        <wii-pack-count *ngIf="transport && bodyConfig"
                        #packCount
                        mode="actual"
                        [title]="'Objets ' + (transport.kind === 'delivery' ? (transport.failure ? 'à retourner' : 'déposés') : (transport.failure ? 'non collectés' : 'collectés'))"
                        [transport]="transport"
                        [body]="bodyConfig">
        </wii-pack-count>
    </div>
    <div class="page-footer">
        <ion-button class="larger"
                    color="primary"
                    size="large"
                    expand="full"
                    (click)="onFormSubmit()">
                <ng-container *ngIf="!edit">Terminer la {{ transport.kind === 'delivery' ? 'livraison' : 'collecte' }}</ng-container>
                <ng-container *ngIf="edit">Valider</ng-container>
            <wii-icon class="button-icon"
                      name="check.svg"
                      color="white">
            </wii-icon>
        </ion-button>
    </div>
</div>
