.ion-page {
    display: block;
    overflow-y: scroll;
}

.contact {
    display: flex;
    justify-content: flex-start;
    padding: 10px;

    wii-icon {
        width: 15px !important;
        margin-right: 10px;
    }
}

.page-footer {
    margin-top: 10px;
}