<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Préparation récapitulatif
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title-header">
    Préparation
  </div>

  <h1 class="text-center">
    Récapitulatif préparation
  </h1>

  <ion-list>
    <ion-item-divider *ngFor="let item of items">
      <ion-label>{{item.title}}</ion-label>
      <ion-button [disabled]="item.button_state" color="danger" tappable fill="solid" shape="round" round fill="outline" slot="end">
        {{item.button_state === true ? 'Quai défini' : 'Quai en attente'}}
      </ion-button>
    </ion-item-divider>
  </ion-list>

  <div class="btn-col">
    <ion-button color="danger" tappable fill="solid" shape="round">
      Terminer
    </ion-button>
  </div>

</ion-content>