@import "../../../../theme/variables";

page-livraison-articles {
    .spinner {
        margin: $spacer;
    }

    wii-panel-header.page-header {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
}
