<!--
  Generated template for the PreparationMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Préparation</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="d-flex">
        <h4>Préparation n°{{preparation.numero}}</h4>
    </div>
    <div class="d-flex" [hidden]="articlesNT && articlesNT.length === 0">
        <p>Liste des articles à traiter</p>
        <ion-icon item-right name="barcode"> </ion-icon>
    </div>
    <ion-list [hidden]="articlesNT && articlesNT.length === 0">
        <ion-grid>
            <button [disabled]="!isValid" (click)="testIfBarcodeEquals(article, true)" class="list" ion-item *ngFor="let article of articlesNT">
                <ion-row>
                    <ion-col>{{ article.reference }}</ion-col>
                    <ion-col>{{ article.emplacement === "null" ? '' : article.emplacement }}</ion-col>
                    <ion-col>{{ article.quantite }}</ion-col>
                </ion-row>
            </button>
        </ion-grid>
    </ion-list>

    <div class="d-flex" [hidden]="articlesT && articlesT.length === 0">
        <p>Liste des articles traités</p>
    </div>

    <ion-list [hidden]="articlesT && articlesT.length === 0">
        <ion-grid>
            <button [disabled]="!isValid" class="list" ion-item *ngFor="let article of articlesT">
                <ion-row>
                    <ion-col>{{ article.reference }}</ion-col>
                    <ion-col>{{ article.emplacement === "null" ? '' : article.emplacement }}</ion-col>
                    <ion-col>{{ article.quantite }}</ion-col>
                </ion-row>
            </button>
        </ion-grid>
    </ion-list>
</ion-content>
<ion-footer padding>
    <div class="d-flex">
        <ion-icon class="big-icon" name="qr-scanner" (click)="scan()" [hidden]="articlesNT && articlesNT.length === 0"></ion-icon>
        <ion-icon class="big-icon" item-right name="checkmark-circle" (click)="validate()" [class.alert]="articlesNT && articlesNT.length === 0"></ion-icon>
    </div>
</ion-footer>
