<ion-content padding>

    <wii-main-loader [loading]="!hasLoaded"></wii-main-loader>

    <ion-list *ngIf="hasLoaded">
        <ion-grid>
            <button (click)="goToArticles(collecte)" class="list" ion-item *ngFor="let collecte of collectes">
                <ion-row>
                    <ion-col col-6>{{ collecte.numero }}</ion-col>
                    <ion-col class="emplacement-collecte" col-6>{{ collecte.location_from ? collecte.location_from : '' }}</ion-col>
                </ion-row>
            </button>
        </ion-grid>
    </ion-list>
</ion-content>
