@import "../../../../theme/variables";

wii-panel-header {
    display: block;

    &:not(.transparent-panel-header) {
        background-color: $white;
        border: 1px solid $lightBlue;
    }

    .list-header-wrapper {
        display: flex;
        align-items: center;

        .header-body,
        .list-header-icon {
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .header-body {
            & > *:not(:last-child) {
                margin-bottom: .20rem;
            }

            .header-title {
                font-weight: bold;
            }
            .header-info {
                color: $primary;
                font-size: 90%;
                font-style: italic;
            }
        }

        .list-header-icon {
            padding-left: 2rem;
            padding-right: 2rem;

            wii-icon {
                width: 5rem;
                height: 5rem;
            }

            &:last-child {
                margin-left: auto;
            }
        }
    }
}
