@import "~theme/variables";

:host {
    display: flex;

    & > .wrapper {
        flex: 1;
        wii-panel-header {
            margin: $spacerMin $spacerMin $spacerMin ($spacerMin/2);
        }

        :not(wii-panel-header) {
            margin-right: $spacer;
            margin-left: $spacer;

            &:not(:last-child) {
                margin-bottom: $spacerMin;
            }
        }
    }
}
