@import "~theme/variables";

:host {
    display: flex;
    overflow-y: auto;

    & > .wrapper {
        flex: 1;

        & > wii-panel-header {
            margin: $spacerMin $spacerMin $spacerMin ($spacerMin/2);
        }

        & > .list-wrapper {
            & > ::ng-deep * {
                display: block;
                margin-right: $spacer;
                margin-left: $spacer;

                &:not(:last-child) {
                    margin-bottom: $spacerMin;
                }
            }
            .add-multiple-occurrence {
                text-align: center;
            }
        }
    }
}
