<div class="wrapper"
     scroll-y="true">
    <wii-panel-header *ngIf="header"
                      [leftIcon]="header.leftIcon"
                      [title]="header.title"
                      [subtitle]="header.subtitle"
                      [info]="header.info"
                      [rightIcons]="header.rightIcon">
    </wii-panel-header>
    <div>
        <ng-template #formElements
                     *ngFor="let param of body"
                     [wiiFormPanel]
                     [param]="param">
        </ng-template>
    </div>
</div>
