<div class="card-list" *ngIf="config">

    <div class="list-icon-container"
         *ngIf="listIconName">
        <wii-icon [name]="listIconName"></wii-icon>
    </div>


    <ion-card *ngFor="let cardConfig of config" (click)="onCardClick(cardConfig)">
        <ion-card-header *ngIf="cardConfig.title"
                         [className]="headerClass">
            <span class="title-label">{{ cardConfig.title.label }}</span>
            <span class="title-value">{{ cardConfig.title.value }}</span>
        </ion-card-header>
        <ion-card-content>
            <div class="content">
                <p *ngFor="let contentLine of cardConfig.content">
                    <span class="content-label">{{ contentLine.label }}&nbsp;:</span>
                    <span class="content-value">{{ contentLine.value }}</span>
                </p>
            </div>
            <div class="actions"
                 *ngIf="cardConfig.action">
                <wii-icon name="arrow-right.svg" class="arrow"></wii-icon>
            </div>
        </ion-card-content>
    </ion-card>
</div>
