<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    	<ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
    	Ordre détail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-header">
    Workflow
  </div>

  <ion-card class="prepa">
  	<h3>Préparation</h3>
  	<ion-list>
  		<ion-item *ngFor="let article of articles">
  			<ion-label>
  				<h2>{{ article.nom }}</h2>
  				<p>Localisation : {{ article.localisation }}</p>
  				<p>Quantité : {{ article.quantite }} </p>
  			</ion-label>
  		</ion-item>
  	</ion-list>
  	<h2>Réaliser la préparation ?</h2>
  	<ion-button color="danger" (click)="closePage()">
  		<ion-icon name="close-circle" size="large" color="light"></ion-icon>
  	</ion-button>
  	<ion-button color="success" (click)="openPage()">
  		<ion-icon name="checkmark" size="large" color="light"></ion-icon>
  	</ion-button>
  </ion-card>
</ion-content>
