
ion-content {
    .title-header {
        background-color: var(--header-color-workflow, #130078);
    }

    .header {
        padding: 5px 15px;
    }

    .preparation, .preparation ion-list {
        color: #fcfcfc;
        background-color: var(--header-color-preparation, #ffbc02);
    }

    .preparation ion-card, .preparation p {
        color: #000000;
        background-color: #fcfcfc;
        padding: 0 10px;
    }

    .footer {
        padding: 10px;
        border-top: #000000 1px solid;
        background-color: var(--header-color-preparation-dark, #f0b000);
    }

    .btn-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-center ion-fab-button {
        margin: 10px 10px;
    }

    h1 ion-fab {
        margin-top: -16px;
    }
}