$header-color-1:#130078;
$header-color-2:#ffbc02;

.title-header {
    padding: 20px 35px;
    background-color: $header-color-1;
    color: #fcfcfc;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.prepa {
	background-color: $header-color-2;
	color: #fcfcfc;
	padding: 5px 15px;
}