<!--
  Generated template for the LivraisonMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Livraisons</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title *ngIf="livraisons && livraisons.length === 0">Aucune livraison<br>à traiter.</ion-title>
  <ion-spinner *ngIf="!hasLoaded"></ion-spinner>
  <ion-list *ngIf="hasLoaded">
    <ion-grid>
      <button (click)="goToArticles(livraison)" class="list" ion-item *ngFor="let livraison of livraisons">
        <ion-row>
          <ion-col col-6>{{ livraison.numero }}</ion-col>
          <ion-col class="text-right" col-6>{{ livraison.emplacement }}</ion-col>
        </ion-row>
      </button>
    </ion-grid>
  </ion-list>

</ion-content>
<ion-footer padding *ngIf="hasLoaded">
  <div class="d-flex">
    <ion-icon class="big-icon" name="refresh" item-right (click)="synchronise(false)"></ion-icon>
  </div>
</ion-footer>
