{
    "android": {
        "release": {
            "keystore": "wiistock-key.jks",
            "storePassword": "Wiistock123!",
            "alias": "wiistock",
            "password": "Wiistock123!",
            "keystoreType": ""
        }
    }
}
