{
    "android": {
        "release": {
            "keystore": "wiistock-key.jks",
            "storePassword": "",
            "alias": "wiistock",
            "password": "",
            "keystoreType": ""
        }
    }
}
