<div *ngIf="!loading && isShown.header"
     #content>
    <div class="main-toolbar">
        <ng-template #iconPlaceholderTemplate>
            <div class="header-icon-placeholder">
                <div class="header-icon"></div>
            </div>
        </ng-template>

        <ion-button *ngIf="isShown.iconLeft; else iconPlaceholderTemplate"
                    fill="clear"
                    size="small"
                    (click)="onLeftIconClick()">
            <wii-icon [name]="isShown.iconLogout ? 'logout.svg' : 'arrow-left.svg'"
                      color="white"
                      class="header-icon">
            </wii-icon>
        </ion-button>
        <div class="header-title">
            <img alt="FollowGT" src="../../../../../../wiistock/public/img/followgt_bg_transparent.svg" class="logo"/>
            <div class="user" *ngIf="isShown.user && loggedUser">{{ loggedUser }}</div>
        </div>
        <ion-button *ngIf="isShown.menu; else iconPlaceholderTemplate"
                    fill="clear"
                    size="small"
                    (click)="goHome()">
            <wii-icon name="home.svg" color="white" class="header-icon"></wii-icon>
        </ion-button>
    </div>
    <nav class="title-toolbar" *ngIf="currentTitles.length > 0">
        <div class="main-titles">
            <ng-container *ngFor="let config of currentTitles; let last = last">
                <span (click)="onTitleClick(last, config)">{{config.label}}</span>
                <ng-container *ngIf="!last">|</ng-container>
            </ng-container>
        </div>
        <div class="sub-title" *ngIf="subTitle$|async as subtitle">
            {{ subtitle }}
        </div>
    </nav>
</div>
