<wii-main-loader [loading]="loading"></wii-main-loader>

<div class="page-content" *ngIf="!loading">
    <wii-list-panel *ngIf="deposeListConfig"
                    [header]="deposeListConfig.header"
                    [body]="deposeListConfig.body"
                    [boldValues]="listBoldValues">
    </wii-list-panel>

    <wii-list-panel *ngIf="priseListConfig"
                    [header]="priseListConfig.header"
                    [body]="priseListConfig.body"
                    [boldValues]="listBoldValues">
    </wii-list-panel>
</div>

<barcode-scanner #footerScannerComponent
                 (add)="testColisDepose($event[0], $event[1])">
</barcode-scanner>
