<ion-header>
  <ion-toolbar>
    <ion-title>preparation_add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title-header">
    Préparation
  </div>

  <h1 class="text-center">
    Quantité article n° 1337
  </h1>

  <form>
    <div class="form-group input-group">
      <label class="input-group-addon">
        Quantité
      </label>
      <input class="form-control" type="number" value="2">
    </div>
    <div class="form-group input-group">
      <label class="input-group-addon">
        Statut
      </label>
      <select class="form-control">
        <option>Statut 1</option>
        <option>Statut 2</option>
        <option>Statut 3</option>
      </select>
    </div>
  </form>

  <div class="pull-right btn-col">
    <a class="btn btn-default">+ Ajouter un article</a>
    <a class="btn btn-default">Terminer</a>
  </div>

</ion-content>