
.title-header {
    background-color: var(--header-color-inventory, lightblue);
}

.list-header {
    background-color: var(--header-color-inventory, lightblue);
    color: #fcfcfc;
}

h1 {
    margin-bottom: 20px; 
  }