page-inventory-view {

	.title-header {
	    background-color: var(--header-color-inventory, lightblue);
	}

	.list-header {
	    background-color: var(--header-color-inventory, lightblue);
	    color: #fcfcfc;
	}

}
