<wii-main-loader [loading]="loading"></wii-main-loader>

<ion-scroll class="page-content"
            scrollY="true"
            *ngIf="!loading">
    <wii-list-panel *ngIf="deposeListConfig"
                    [header]="deposeListConfig.header"
                    [body]="deposeListConfig.body"
                    [boldValues]="listBoldValues">
    </wii-list-panel>

    <wii-list-panel *ngIf="displayPrisesList && priseListConfig"
                    [header]="priseListConfig.header"
                    [body]="priseListConfig.body"
                    [boldValues]="listBoldValues">
    </wii-list-panel>
</ion-scroll>

<div class="page-footer persisted-page-footer">
    <wii-barcode-scanner #footerScannerComponent
                         [hidden]="loading"
                         [buttonSubtitle]="objectLabel"
                         [mode]="scannerModeManual"
                         (add)="testColisDepose($event[0], $event[1])">
    </wii-barcode-scanner>
</div>
