<wii-main-loader [loading]="!hasLoaded"></wii-main-loader>

<div *ngIf="hasLoaded"
     scroll-y="true"
     class="page-content">
    <wii-card-list *ngIf="hasLoaded && handlingsListConfig && handlingsListConfig.length > 0"
                   [listIconName]="handlingsIconName"
                   [color]="handlingsListColor"
                   [config]="handlingsListConfig">
    </wii-card-list>
</div>
<wii-barcode-scanner buttonSubtitle="Objet"
                     [mode]="scannerMode"
                     [selectedLabel$]="selectedSubject$"
                     (add)="onBarcodeScanned($event[0])"
                     (clear)="onSearchCleared()">
</wii-barcode-scanner>
