.title-header {
    background-color: var(--header-color-reception, #7000f0);
}

h1 {
  margin-bottom: 50%;
}

.band {
  background: var(--header-color-reception, #7000f0);
}

.button {
  background: var(--header-color-reception, #7000f0);
}