<wii-form-field [label]="label"
                [required]="inputConfig.required"
                [inline]="inline">
    <ng-container field>
        <div class="signature-image-container">
            <ng-container *ngIf="!inputConfig.multiple && value">
                <ng-container [ngTemplateOutlet]="signatureTemplate"
                              [ngTemplateOutletContext]="{src: value}">
                </ng-container>
            </ng-container>
            <ng-container *ngIf="inputConfig.multiple">
                <ng-container *ngFor="let src of value; let index = index"
                              [ngTemplateOutlet]="signatureTemplate"
                              [ngTemplateOutletContext]="{src: src, index: index}">
                </ng-container>
            </ng-container>
        </div>
        <wii-icon *ngIf="displaySigningButton"
            class="add-signature"
            color="success"
            name="plus.svg"
            (action)="onItemClicked()">
        </wii-icon>
    </ng-container>
</wii-form-field>

<ng-template #signatureTemplate
             let-src="src"
             let-index="index">
    <img class="signature-image"
         alt="signature"
         [src]="src"
         (click)="onSignatureClicked(index)"/>
</ng-template>
