<wii-form-field [label]="label"
                [required]="inputConfig.required"
                [inline]="inline">
    <ng-container field>
        <img *ngIf="value else noValue"
             class="signature-image"
             alt="signature"
             [src]="value"
             (click)="onItemClicked()"/>
    </ng-container>
</wii-form-field>

<ng-template #noValue>
    <wii-icon class="add-signature" color="success" name="plus.svg" (action)="onItemClicked()"></wii-icon>
</ng-template>

