@import "~theme/variables";

:host {
    display: block;
    background-color: $white;
    border: 1px solid $lightBlue;
    font-size: $normalFontSize;

    ion-label {
        font-size: $normalFontSize;
    }

    .add-signature {
        width: 30px;
        height: 30px;
    }

    .signature-image {
        width: 30%;
    }
}
