@import "~theme/variables";

:host {
    .files-wrapper {
        overflow: hidden;
        flex: 1;
        a {
            flex: 1;
            display: flex;
            text-decoration: none;
            color: $dark;
            background-color: $lightBlue;
            padding: $spacerMin;
            margin: $spacerMin / 2;
            border-radius: 8px;

            .link-wrapper {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            wii-icon {
                width: 15px;
                display: inline-block;
                margin-left: $spacerMin;
            }
        }
    }
}
