<div class="list-header-wrapper">
    <!-- Left icon -->
    <div class="list-header-icon" *ngIf="leftIcon">
        <wii-icon [name]="leftIcon.name"
                  [color]="leftIcon.color"
                  (click)="onLeftIconClick()">
        </wii-icon>
    </div>

    <div class="header-body">
        <div *ngIf="title" class="header-title">{{title}}</div>
        <div *ngIf="subtitle" class="header-subtitle">{{subtitle}}</div>
        <div *ngIf="info" class="header-info">{{info}}</div>
    </div>

    <!-- Right icon -->
    <div class="list-header-icon" *ngIf="rightIcon">
        <wii-icon [name]="rightIcon.name"
                  [color]="rightIcon.color"
                  (click)="onRightIconClick()">
        </wii-icon>
    </div>
</div>
