<ion-content padding>
    <div *ngIf="collecte">
        <div class="page-title">
            <h4>Collecte {{ collecte.number }}</h4>
            <p>Point de collecte<br/>{{collecte.location_from ? collecte.location_from : ''}}</p>
            <p>{{ collecte.forStock ? 'Mise en stock' : 'Destruction' }}</p>
        </div>

        <div class="spinner" *ngIf="loadingStartCollecte">
            <ion-spinner></ion-spinner>
        </div>

        <div *ngIf="!loadingStartCollecte && articlesNT && articlesNT.length > 0">
            <div class="d-flex">
                <p>Liste des articles à traiter</p>
            </div>
            <ion-list>
                <ion-grid>
                    <button [disabled]="!isValid" (click)="testIfBarcodeEquals(article, false)" class="list" ion-item *ngFor="let article of articlesNT">
                        <ion-row>
                            <ion-col>{{ article.reference }}</ion-col>
                            <ion-col>{{ article.emplacement === "null" ? '' : article.emplacement }}</ion-col>
                            <ion-col>{{ article.quantite }}</ion-col>
                        </ion-row>
                    </button>
                </ion-grid>
            </ion-list>
        </div>

        <div *ngIf="!loadingStartCollecte && articlesT && articlesT.length > 0">
            <div class="d-flex">
                <p>Liste des articles traités</p>
            </div>

            <ion-list>
                <ion-grid>
                    <button [disabled]="!isValid" class="list" ion-item *ngFor="let article of articlesT">
                        <ion-row>
                            <ion-col>{{ article.reference }}</ion-col>
                            <ion-col>{{ article.emplacement === "null" ? '' : article.emplacement }}</ion-col>
                            <ion-col>{{ article.quantite }}</ion-col>
                        </ion-row>
                    </button>
                </ion-grid>
            </ion-list>
        </div>
    </div>
</ion-content>
<ion-footer padding>
    <div class="d-flex">
        <ion-icon class="big-icon" name="barcode" (click)="scan()" [hidden]="articlesNT && articlesNT.length === 0"></ion-icon>
        <ion-icon class="big-icon" item-right name="checkmark-circle" (click)="validate()" [class.alert]="articlesNT && articlesNT.length === 0"></ion-icon>
    </div>
</ion-footer>
