page-ordre-detail {
	
	ion-content {
	    .title-header {
	        background-color: var(--header-color-workflow, #130078);
	    }

	    .header {
	        padding: 5px 15px;
	    }

	    .preparation, .preparation ion-list {
	        color: #fcfcfc;
	        background-color: var(--header-color-preparation, #ffbc02);
	    }

		.reception, .reception ion-list {
	        color: #fcfcfc;
	        background-color: var(--header-color-reception, #ffbc02);
	    }

	    .entree, .entree ion-list {
	        color: #fcfcfc;
	        background-color: var(--header-color-entree, #ffbc02);
	    }

	    .sortie, .sortie ion-list {
	        color: #fcfcfc;
	        background-color: var(--header-color-sortie, #ffbc02);
	    }

	    .transfert, .transfert ion-list {
	        color: #fcfcfc;
	        background-color: var(--header-color-transfert, #ffbc02);
	    }	    

	    .preparation ion-card, .preparation p {
	        color: #000000;
	        background-color: #fcfcfc;
	        padding: 0 10px;
	    }

	    .reception ion-card, .reception p {
	        color: #000000;
	        background-color: #fcfcfc;
	        padding: 0 10px;
	    }

	    .entree ion-card, .entree p {
	        color: #000000;
	        background-color: #fcfcfc;
	        padding: 0 10px;
	    }

	    .sortie ion-card, .sortie p {
	        color: #000000;
	        background-color: #fcfcfc;
	        padding: 0 10px;
	    }

	    .transfert ion-card, .transfert p {
	        color: #000000;
	        background-color: #fcfcfc;
	        padding: 0 10px;
	    }

	    .footer {
	        padding: 10px;
	        border-top: #000000 1px solid;
	        background-color: var(--header-color-grey, #cccccc);
	    }

	    .btn-center {
	        display: flex;
	        align-items: center;
	        justify-content: center;
	    }

	    .btn-center ion-fab-button {
	        margin: 10px 10px;
	    }

	    h1 ion-fab {
	        margin-top: -16px;
	    }
	}
}
