<ion-header>
    <ion-navbar *ngIf="hasLoaded">
        <ion-buttons left>
            <button ion-button icon-only (click)="synchronise(false)" class="custom-button">
                <ion-icon name="custom-refresh-icon"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="user-title">
            {{ user }}
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="goHome()" class="custom-button">
                <ion-icon name="custom-home-icon"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <br>
    <div class="titles" *ngIf="hasLoaded">
        <ion-title *ngIf="manutentions && manutentions.length === 0">Aucune manutentions<br>à traiter.</ion-title>
        <ion-title *ngIf="manutentions && manutentions.length > 0">Menu | <b class="important">Manutentions</b></ion-title>
        <p *ngIf="manutentions && manutentions.length > 0" class="subtitle">{{ manutentions.length }} manutention(s)</p>
    </div>
    <div class="spinner" *ngIf="!hasLoaded" >
        <ion-spinner class="main_spinner"></ion-spinner>
    </div>
    <ion-scroll scrollY="true" *ngIf="hasLoaded" class="body">
        <br>
        <img src="assets/icon/manut_icon.svg" height="50px" width="50px">
        <br>
        <ng-container *ngIf="manutentions && manutentions.length > 0 && hasLoaded">
            <ion-card *ngFor="let manutention of manutentions" (click)="goToManut(manutention)">
                <ion-card-header>
                    <p>Demandeur <b>{{ manutention.demandeur }} </b></p>
                </ion-card-header>
                <ion-card-content>
                    <span>Date et Heure <b>{{ toDate(manutention) | date:'dd/MM/yyyy h:mm:ss' }}</b></span>
                    <img src="assets/icon/side_arrow.svg" class="arrow">
                </ion-card-content>
            </ion-card>
        </ng-container>
        <br>
    </ion-scroll>

</ion-content>
