page-manutention-menu {

  .toolbar-background {
    background-color: #030F4C !important;
  }

  ion-card-header {
    background-color: #149914;
    height: fit-content !important;
    p {
      color: white !important;
    }
  }

  .titles {
    background-color: #FFFFFF !important;
  }

  .body {
    background-color: #F2F2F4 !important;
    height: 90%;
  }
}
