<wii-main-loader [loading]="!hasLoaded"></wii-main-loader>

<ion-scroll *ngIf="hasLoaded" scrollY="true" class="page-content">
    <div class="icon-manutention-container">
        <wii-icon name="people.svg"></wii-icon>
    </div>
    <ng-container *ngIf="manutentions && manutentions.length > 0 && hasLoaded">
        <ion-card *ngFor="let manutention of manutentions" (click)="goToManut(manutention)">
            <ion-card-header>
                <p>Demandeur <b>{{ manutention.demandeur }} </b></p>
            </ion-card-header>
            <ion-card-content>
                <div class="content">
                    <p>Date attendue <b>{{ toDate(manutention) | date:'dd/MM/yyyy H:mm' }}</b></p>
                    <p>Objet <b>{{ manutention.objet }}</b></p>
                </div>
                <div class="actions">
                    <wii-icon name="arrow-right.svg" class="arrow"></wii-icon>
                </div>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ion-scroll>
