<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Prise</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <div>
            <ion-title>
                <ion-icon class="big-icon" name="barcode" (click)="scanLocation()"></ion-icon>
                <br/>
                <span *ngIf="!emplacement" >Flashez un emplacement</span>
                <span *ngIf="emplacement">
                    Emplacement sélectionné
                    <br/>
                    <span>{{emplacement.label}}</span>
                </span>
            </ion-title>

            <ion-card>
                <ion-card-content>
                    <ion-item>
                        <ion-label *ngIf="!emplacement">sélectionnez un emplacement</ion-label>
                        <ionic-selectable
                                #locationComponent
                                item-content
                                [(ngModel)]="emplacement"
                                [items]="db_locations_for_list"
                                itemValueField="id"
                                itemTextField="label"
                                [canSearch]="true"
                                [hasInfiniteScroll]="true"
                                (onSearch)="searchEmplacement($event)"
                                (onChange)="emplacementChange($event)"
                                (onInfiniteScroll)="getMoreLocations($event)">
                            <ng-template ionicSelectableSearchFailTemplate>
                            </ng-template>
                        </ionic-selectable>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

</ion-content>

<ion-footer padding>
    <div class="d-flex">
        <ion-icon class="big-icon" name="arrow-dropleft-circle" navPop></ion-icon>
        <ion-icon *ngIf="emplacement"
                  class="big-icon"
                  name="checkmark-circle"
                  (click)="goToArticles()"></ion-icon>
    </div>
</ion-footer>
