<ion-content padding>
    <div>
        <div>
            <div class="barcode-container">
                <ion-icon class="barcode" name="barcode" (click)="scanLocation()"></ion-icon>
                <span *ngIf="!emplacement" class="barcode-label">Flashez un emplacement</span>
                <span *ngIf="emplacement" class="barcode-label">Emplacement sélectionné</span>
            </div>

            <wii-search-location [(location)]="emplacement">
            </wii-search-location>
        </div>
    </div>
</ion-content>

<ion-footer padding>
    <div class="d-flex">
        <ion-icon class="big-icon" name="arrow-dropleft-circle" navPop></ion-icon>
        <ion-icon class="big-icon" name="add" (click)="goToCreateEmp()"></ion-icon>
        <ion-icon *ngIf="emplacement"
                  class="big-icon"
                  name="checkmark-circle"
                  (click)="goToArticles()"></ion-icon>
    </div>
</ion-footer>
