<div class="list-element-wrapper"
     ion-long-press
     [interval]="400"
     (click)="onPress()"
     (longPressed)="onLongPress()">
    <div class="list-element-body-wrapper">
        <div class="list-element-item"
             *ngFor="let line of infosArray">
            {{line.label}} : <span class="element-value" [class.element-value-bold]="boldValues.indexOf(line.key) > -1">{{line.value}}</span>
        </div>
    </div>
    <div class="list-element-icon"
         *ngIf="rightIcon">
        <wii-icon [name]="rightIcon.name"
                  [color]="rightIcon.color"
                  (action)="rightIcon.action()">
        </wii-icon>
    </div>
</div>
