@import "~theme/variables";

:host {
    display: block;
    background-color: $white;
    border: 1px solid $lightBlue;
    font-size: $normalFontSize;

    ion-label {
        font-size: $normalFontSize;
    }

    .files-wrapper {
        width: 100%;
    }
}
