@import "~theme/variables";

:host {
    display: block;
    background-color: $white;
    border: 1px solid $lightBlue;
    font-size: $normalFontSize;

    ion-label {
        font-size: $normalFontSize;
        flex: 1;
    }

    .files-wrapper {
        overflow: hidden;
        flex: 1;
        a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
