@import "../../theme/variables";

page-connect {
    .logo-container {
        width: 60%;
        margin: 3rem auto;
    }

    .form-content {
        margin-bottom: 3rem;
        ion-item {
            margin-bottom: 1rem;
        }
    }

    .version-not-valid-container {
        text-align: center;
        margin-top: 6rem;
    }

    .version-not-valid {
        padding: 10px;
        margin-bottom: 3rem;
    }
    ion-footer {
        background-color: white;
    }

    .page-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .parameters {
            background-color: transparent;
            padding: 0;
            width: 30px;
        }
        .version-container {
            font-size: 10px;
            color: $grey;
        }
    }
}
