<wii-panel-header class="page-header"
                  [transparent]="true"
                  title="Scanner emplacement"
                  [leftIcon]="{name: 'ungroup.svg'}">
</wii-panel-header>

<div class="page-footer">
    <wii-select-item #selectItemComponent
                     [type]="selectItemType"
                     (itemChange)="selectLocation($event)"
                     checkBarcodeValidity="true"
                     [scanMode]="barcodeScannerMode">
    </wii-select-item>
</div>
