// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #488aff;
  --ion-color-primary-rgb: 72,138,255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3f79e0;
  --ion-color-primary-tint: #5a96ff;

  /** secondary **/
  --ion-color-secondary: #32db64;
  --ion-color-secondary-rgb: 50,219,100;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2cc158;
  --ion-color-secondary-tint: #47df74;

  /** tertiary **/
  --ion-color-tertiary: #f4a942;
  --ion-color-tertiary-rgb: 244,169,66;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #d7953a;
  --ion-color-tertiary-tint: #f5b255;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** light **/
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  
  /** dark **/
  --ion-color-dark: #222;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;

  --header-color-inventory:lightblue;
  --header-color-preparation:#ffbc02;
  --header-color-workflow: #130078;
  --header-color-transfert: #cc0000;
  --header-color-entree: #6ef500;
  --header-color-expedition: #f699cd;
  --header-color-reception: #7000f0;
  --header-color-sortie: #f08800;
}

.title-header {
  margin-bottom: 25px;
  padding: 20px 35px;
  color: #fcfcfc;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.btn-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 3%;
}

/* Flash
================= */

$grey: #E6E8E6;
@mixin size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

.camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.camera,
.band,
.lens,
.camera-container .button, .flash {
  position: absolute;
}

.camera {
  @include size(50vmin, 30vmin);
  background: $grey;
  border-radius: 2vmin;
  box-shadow: 1vmin 1vmin 0 0 rgba(#000,0.2);
}

.band {
  top: 50%;
  margin-top: -8vmin;
  @include size(50vmin, 15vmin);
}

.lens {
  @include size(20vmin, 20vmin);
  border-radius: 100%;
  background: radial-gradient(#000 0%, #000 20%, #383838 0%, #383838 40%, #4B4B4B 0%, #4B4B4B 50%, #3A3A3A 0%, #3A3A3A 60%, $grey 0%, $grey 100%);
  left: 50%;
  margin-left: -10vmin;
  top: 50%;
  margin-top: -10vmin;
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    @include size(14vmin, 7vmin);
    border-radius: 100%;
    border-bottom: 7vmin solid rgba(#FFF, 0.2);
    left: 3vmin;
    top: 3vmin;
    transform: rotate(-50deg);
  }
  &:after {
    @include size(1.5vmin, 1.5vmin);
    border-radius: 100%;
    background: #FFF;
    top: 8vmin;
    left: 10vmin;
    opacity: 0.8;
  }
}

.camera-container .button {
  @include size(5vmin, 3vmin);
  border-radius: 100%;
  top: -16vmin;
  left: 28vmin;
  border-radius: 0.5vmin;
}

.flash {
  top: 2vmin;
  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    @include size(3vmin, 3vmin);
    background: #ADE1E5;
    left: 44vmin;
    border-radius: 100%;
  }
  
  &:after{
    @include size(1vmin, 1vmin);
    background: #FFF;
    top: 13vmin;
    border-radius: 100%;
    left: 23vmin;
    opacity: 0.6;
  }
}

.legend {
  margin-top: 80px;
  font-size: 24px;
}

.sonar-wave {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #fcfcfc;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation: sonarWave 1s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(6);
    opacity: 0;
  }
}