<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button expand="full" size="large" text-wrap color="default">Ordre en cours</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="full" size="large" color="danger" href="/workflow">Workflow</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="full" size="large" color="danger" href="/entree_add">Entrées</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="full" size="large" color="default" href="/sortie_add">Sorties</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="full" size="large" color="danger" href="inventory_list">Inventaire</ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>
