<wii-main-loader [loading]="loading"></wii-main-loader>

<ion-scroll class="page-content"
            scrollY="true"
            *ngIf="!loading">
    <wii-list-panel *ngIf="listTakingHeader && listTakingBody"
                    [header]="listTakingHeader"
                    [body]="listTakingBody"
                    [boldValues]="listBoldValues">
    </wii-list-panel>

    <wii-list-panel *ngIf="displayPacksOnLocationsList && listPacksOnLocationHeader && listPacksOnLocationBody"
                    [header]="listPacksOnLocationHeader"
                    [body]="listPacksOnLocationBody"
                    [boldValues]="listBoldValues">
    </wii-list-panel>
</ion-scroll>

<div class="page-footer">
    <wii-barcode-scanner #footerScannerComponent
                         [hidden]="loading"
                         [buttonSubtitle]="objectLabel"
                         [mode]="scannerModeManual"
                         (add)="testIfBarcodeEquals($event[0], $event[1])">
    </wii-barcode-scanner>
</div>
