<wii-main-loader [loading]="loading"></wii-main-loader>

<div class="page-content"
     scroll-y="true"
     *ngIf="!loading">
    <wii-list-panel *ngIf="listTakingHeader && listTakingBody"
                    [header]="listTakingHeader"
                    [body]="listTakingBody"
                    [identifierName]="listIdentifierName"
                    [boldValues]="listBoldValues">
    </wii-list-panel>

    <wii-list-panel *ngIf="displayPacksOnLocationsList && listPacksOnLocationHeader && listPacksOnLocationBody"
                    [header]="listPacksOnLocationHeader"
                    [body]="listPacksOnLocationBody"
                    [identifierName]="listIdentifierName"
                    [boldValues]="listBoldValues">
    </wii-list-panel>
</div>

<div class="page-footer persisted-page-footer">
    <wii-barcode-scanner #footerScannerComponent
                         [hidden]="loading"
                         [mode]="scannerModeManual"
                         (add)="testIfBarcodeEquals($event[0], $event[1])">
    </wii-barcode-scanner>

    <ion-button class="submit-button larger"
                color="primary"
                size="large"
                expand="full"
                (click)="finishTaking()">
        Valider
        <wii-icon name="check.svg"
                  class="button-icon"
                  color="white">
        </wii-icon>
    </ion-button>
</div>
