<div scroll-y="true"
     class="page-content">
    <wii-form-panel #formPanelComponent
                    [body]="bodyConfig">
    </wii-form-panel>
</div>

<div class="page-footer persisted-page-footer">
    <ion-button class="submit-button larger"
                color="primary"
                size="large"
                expand="full"
                (click)="validate()">
        Valider
        <wii-icon name="check.svg"
                  class="button-icon"
                  color="white">
        </wii-icon>
    </ion-button>
</div>


