<div class="page-footer">
    <div class="anomalies-button-container">
        <ion-button class="anomalies-button larger"
                    size="large"
                    expand="full"
                    color="primary"
                    *ngIf="!dataSubscription && isInventoryManager"
                    (click)="navigateToAnomalies()">
            <span class="button-text-wrapper">
                <span class="title">ANOMALIES</span>
            </span>
            <wii-icon name="exclamation-triangle.svg"
                      color="white"
                      class="button-icon">
            </wii-icon>
        </ion-button>
    </div>
    <wii-select-item #selectItemComponent
                     [type]="selectItemType"
                     [hidden]="!!dataSubscription"
                     (itemChange)="selectLocation($event)"
                     [checkBarcodeValidity]="true"
                     [resetEmitter]="resetEmitter$"
                     [scanMode]="scannerMode">
    </wii-select-item>
</div>
