<div scroll-y="true"
     class="page-content">
    <wii-card-list  [color]="dispatchesListColor"
                    [config]="dispatchesToSignListConfig">
    </wii-card-list>
    <wii-form-panel #formPanelComponent
                    [body]="bodyConfig">
    </wii-form-panel>
</div>
<ion-button class="submit-button larger"
            color="primary"
            size="large"
            expand="full"
            (click)="finishGroupedSignature()">
    Valider
    <wii-icon name="check.svg"
              class="button-icon"
              color="white">
    </wii-icon>
</ion-button>
