<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Transfert récapitulatif
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title-header">
    Transfert
  </div>

  <h1 class="text-center">
    Récapitulatif transfert
  </h1>

  <ion-list>
    <ion-item-divider *ngFor="let item of items">
      <ion-label>{{item.title}}</ion-label>
      <ion-button [disabled]="item.button_state" color="danger" tappable fill="solid" shape="round" round fill="outline" slot="end">
        {{item.button_state === true ? 'Emplacement défini' : 'Emplacement en attente'}}
      </ion-button>
    </ion-item-divider>
  </ion-list>

  <div class="btn-col">
    <ion-button color="danger" tappable fill="solid" shape="round">
      Terminer
    </ion-button>
  </div>

</ion-content>