@import "~theme/variables";

.page-content {
    overflow: hidden;

    wii-panel-header {
        margin: $spacerMin;
    }

    &,
    & > wii-form-panel {
        flex: 1;
        display: flex;
    }
}
