<ion-card>
    <ion-card-content>
        <ion-item class="without-label">
            <ionic-selectable
                #itemComponent
                closeButtonText="Fermer"
                [(ngModel)]="_item"
                [items]="dbItemsForList"
                [itemValueField]="config[type].valueField"
                [itemTextField]="config[type].label"
                [placeholder]="config[type].placeholder"
                searchPlaceholder="Rechercher"
                [canSearch]="true"
                [hasInfiniteScroll]="true"
                (onSearch)="onItemSearch($event)"
                (onChange)="onItemChange($event)"
                (onInfiniteScroll)="onInfiniteScroll()">
                <ng-template ionicSelectableSearchFailTemplate>
                </ng-template>
                <ng-template ionicSelectableItemTemplate
                             let-article="item"
                             *ngIf="config[type].templateIndex === 'article'">
                    <div class="ionic-selectable-item-wrapper">
                        <p>Article {{article.barcode}}</p>
                        <p *ngIf="article.location !== 'null'">Emplacement : {{article.location}}</p>
                        <p *ngIf="article.quantity">Quantité restante : {{article.quantity}}</p>
                    </div>
                </ng-template>
                <ng-template ionicSelectableItemTemplate
                             let-location="item"
                             *ngIf="config[type].templateIndex === 'location'">
                    {{location.label}}
                </ng-template>
            </ionic-selectable>
        </ion-item>
    </ion-card-content>
</ion-card>
