<wii-panel-header *ngIf="header"
                 [leftIcon]="header.leftIcon"
                 [title]="header.title"
                 [subtitle]="header.subtitle"
                 [info]="header.info"
                 [rightIcon]="header.rightIcon">
</wii-panel-header>

<wii-list-panel-item *ngFor="let object of body"
                     [infos]="object.infos"
                     [longPressAction]="object.longPressAction"
                     [pressAction]="object.pressAction"
                     [rightIcon]="object.rightIcon"
                     [boldValues]="boldValues">
</wii-list-panel-item>
