<!--
  Generated template for the InventaireMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Inventaire</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-title *ngIf="articles && articles.length === 0">Tous les inventaires sont à jour.</ion-title>
    <ion-title *ngIf="articles && articles.length !== 0">{{ articles.length }} articles à inventorier.</ion-title>
    <ion-spinner *ngIf="!hasLoaded"></ion-spinner>

    <ion-list *ngIf="hasLoaded">
        <ion-grid>
            <button (click)="openModalQuantity(article)" class="list" ion-item *ngFor="let article of articles" id="{{article.id}}">
                <ion-row>
                    <ion-col>{{ article.reference }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="dark-grey">{{ article.location }}</ion-col>
                </ion-row>
            </button>
        </ion-grid>
    </ion-list>




</ion-content>
<ion-footer padding *ngIf="hasLoaded">
  <div class="d-flex">
<!--    <ion-icon class="big-icon" name="refresh" item-right (click)="synchronize()"></ion-icon>-->
  </div>
</ion-footer>