<div class="page-footer">
    <div class="input-article">
        <ion-item>
            <ion-input type="text" placeholder="Taper manuellement un article..." [(ngModel)]="newArticle"></ion-input>
            <wii-icon name="plus.svg" color="green" class="plus-icon" (action)="addManuallyArticle()" item-content></wii-icon>
        </ion-item>
    </div>
    <button class="validate_button" ion-button color="primary" (click)="scanLocation()">
        <span class="button-text">SCANNER</span>
        <wii-icon name="scanicone.svg" color="white" class="scan-icon"></wii-icon>
    </button>
</div>
