@import "../../../../../theme/variables";

wii-form-panel-signing {
    display: block;
    background-color: $white;
    border: 1px solid $lightBlue;
    padding-left: .35rem;
    padding-right: .35rem;

    ion-label {
        color: #999;
    }

    .item-inner {
        border: none !important;
        box-shadow: none !important;
    }

    .add-signature {
        width: 20px;
        height: 20px;
    }

    .signature-image {
        width: 30%;
    }
}
