label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.title-header {
    background-color: var(--header-color-entree, #6ef500);
}

h1 {
    margin-bottom: 20px; 
}