<div scroll-y="true"
     class="page-content">
    <ion-button fill="outline"
                class="custom-fill-button"
                expand="block"
                (click)="filter()">
        Filtrer
    </ion-button>
    <div class="filters" *ngIf="(this.filters.from || this.filters.to || this.filters.status) && this.labelFrom && this.labelTo">
        <p class="filter" *ngIf="this.filters.from">{{this.labelFrom}} : {{this.filters.from.text}}</p>
        <p class="filter" *ngIf="this.filters.to">{{this.labelTo}} : {{this.filters.to.text}}</p>
        <p class="filter" *ngIf="this.filters.status">Statut : {{this.filters.status.text}}</p>
    </div>
    <wii-card-list  *ngIf="!loading && dispatchesListConfig && dispatchesListConfig.length > 0"
                   [listIconName]="dispatchesIconName"
                   [color]="dispatchesListColor"
                   [config]="dispatchesListConfig">
    </wii-card-list>
</div>
<wii-select-item #selectItemComponent
                 *ngIf="!loading && dispatchesListConfig && dispatchesListConfig.length > 0"
                 [type]="selectItemType"
                 (itemChange)="onScanningDispatch($event)"
                 [checkBarcodeValidity]="true"
                 [resetEmitter]="resetEmitter$"
                 [scanMode]="barcodeScannerSearchMode">
</wii-select-item>
