<wii-form-field [label]="label"
                [required]="inputConfig.required"
                [inline]="inline">
    <ng-container field>
        <ion-textarea #inputComponent="ngModel"
                      [name]="name"
                      [disabled]="inputConfig.disabled"
                      [required]="inputConfig.required"
                      [maxlength]="inputConfig.maxLength"
                      [(ngModel)]="value"
                      auto-grow="true">
        </ion-textarea>
    </ng-container>
</wii-form-field>
