@import "~theme/variables";


$card-padding: 4px 12px !important;

:host {
    display: block;

    .list-icon-container {
        text-align: center;
        margin-top: $spacer / 1.5;
        margin-bottom: $spacer / 1.5;

        & > wii-icon {
            display: inline-block;
            height: 50px;
            width: 50px;
        }
    }

    .list-header {
        margin-left: 10px;
        margin-right: 10px;
    }

    ion-card-header {
        padding: $card-padding;

        * {
            color: $white !important;
        }

        .header-wrapper {
            margin: 0;
        }
    }

    @each $name, $color in $colors {
        &.#{$name} ion-card-header {
            background-color: #{$color};
        }
    }

    ion-card-content {
        padding: $card-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $black;

        .content {
            flex: 1;

            .badges-container {
                display: flex;
                justify-content: space-between;
                margin-top: $spacerMin;
                margin-bottom: $spacerMin;

                .badge {
                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.default-color {
                        background-color: #c4c7d5;
                        color: $primary;
                    }

                    &:not(.default-color) {
                        font-weight: bold;
                    }

                    color: white;
                    margin-left: 2px;
                    margin-right: 2px;
                    padding: 3px 14px;
                    border-radius: 5px;
                }
            }

            .content-info,
            .content-error {
                font-size: 90%;
                font-style: italic;

                &.content-info {
                    color: $primary;
                }
                &.content-error {
                    color: $danger;
                }
            }
        }

        .actions {
            display: inline-flex;

            .right-icon {
                width: 25px !important;
                height: 25px !important;
            }

            .arrow {
                width: 15px !important;
                height: 15px !important;
            }
        }
    }

    ion-card-header .title-label,
    ion-card-header .title-value,
    ion-card-content .content-label,
    ion-card-content .content-value {
        display: inline-block;
        &.title-value,
        &.content-value {
            font-weight: bold;
        }
    }
}
