<div class="card-list" *ngIf="config">
    <div class="list-icon-container"
         *ngIf="listIconName">
        <wii-icon [name]="listIconName"
                  [color]="color">
        </wii-icon>
    </div>

    <ion-card *ngFor="let cardConfig of config"
              (click)="onCardClick(cardConfig)">
        <ion-card-header *ngIf="cardConfig.title">
            <span class="title-label">{{ cardConfig.title.label }}&nbsp;</span>
            <span class="title-value">{{ cardConfig.title.value }}</span>
        </ion-card-header>
        <ion-card-content>
            <div class="content">
                <p *ngFor="let contentLine of cardConfig.content">
                    <span class="content-label">{{ contentLine.label }}&nbsp;:&nbsp;</span>
                    <span class="content-value">{{ contentLine.value }}</span>
                </p>
                <p *ngIf="cardConfig.info" class="content-info">{{cardConfig.info}}</p>
                <p *ngIf="cardConfig.error" class="content-error">{{cardConfig.error}}</p>
            </div>
            <div class="actions"
                 *ngIf="cardConfig.action">
                <wii-icon [name]="cardConfig.rightIcon ? cardConfig.rightIcon.name : 'arrow-right.svg'"
                          [color]="cardConfig.rightIcon && cardConfig.rightIcon.color"
                          [attr.class]="cardConfig.rightIcon ? 'right-icon' : 'arrow'">
                </wii-icon>
            </div>
        </ion-card-content>
    </ion-card>
</div>
