.title-header {
    background-color: var(--header-color-transfert, #cc0000);
}

h1 {
  margin-bottom: 50%;
}

.band {
  background: var(--header-color-transfert, #cc0000);
}

.button {
  background: var(--header-color-transfert, #cc0000);
}