
page-preparation-articles {
    // TODO Changer class avec le theme
    .title-tmp {
        font-size: 16px;
    }

    .scan-container {
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
        font-size: 18px;
    }
}
