@import "~theme/variables";

:host {
    display: block;
    position: relative;
    background-color: $white;
    border: 1px solid $lightBlue;
    padding: .5rem 1rem;
    font-size: $normalFontSize;

    .list-element-color {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
    }

    .list-element-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .list-element-body-wrapper {
            flex: 1;
            .element-value {
                word-break: break-word;
                &.element-value-bold {
                    font-weight: bold;
                }
            }
        }

        .list-element-icon {
            padding-left: .5rem;
            display: flex;
            wii-icon {
                height: 1.7rem;
                width: 1.7rem;
            }
            ion-spinner * {
                width: 25px;
            }
        }
    }

    .list-element-disabled {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($primary, 15%);
    }
}
