<div class="list-element-color"
     *ngIf="color"
     [ngStyle]="{'background-color': color}">
</div>

<div class="list-element-wrapper"
     (click)="onPress()">
    <div class="list-element-body-wrapper">
        <div class="list-element-item"
             *ngFor="let line of infosArray">
            {{line.label}} : <span class="element-value" [class.element-value-bold]="boldValues.indexOf(line.key) > -1">{{line.value}}</span>
        </div>
    </div>
    <div class="list-element-icon"
         *ngIf="loading || rightIcon || rightIconBase64">
        <wii-icon *ngIf="rightIcon && !loading"
                  [name]="rightIcon.name"
                  [color]="rightIcon.color"
                  (action)="rightIcon.action()">
        </wii-icon>
        <img *ngIf="rightIconBase64 && !loading"
             alt=""
             [src]="rightIconBase64"/>
        <ion-spinner *ngIf="loading"
                     name="dots">
        </ion-spinner>
    </div>
</div>

<div class="list-element-disabled"
     *ngIf="disabled">
</div>
