<div class="list-element-color"
     *ngIf="color"
     [ngStyle]="{'background-color': color}">
</div>

<div class="list-element-wrapper"
     ion-long-press
     [interval]="400"
     (click)="onPress()"
     (longPressed)="onLongPress()">
    <div class="list-element-body-wrapper">
        <div class="list-element-item"
             *ngFor="let line of infosArray">
            {{line.label}} : <span class="element-value" [class.element-value-bold]="boldValues.indexOf(line.key) > -1">{{line.value}}</span>
        </div>
    </div>
    <div class="list-element-icon"
         *ngIf="loading || rightIcon">
        <wii-icon *ngIf="!loading"
                  [name]="rightIcon.name"
                  [color]="rightIcon.color"
                  (action)="rightIcon.action()">
        </wii-icon>
        <ion-spinner *ngIf="loading"
                     name="dots">
        </ion-spinner>
    </div>
</div>
