/* Colors */
$white: #ffffff;
$black: #000000;
$lightBlue: #E3E9F0;
$lightGrey: #F2F2F4;
$darkGray: #cbcbcb;

// base colors
$primary: #030f4c;
$secondary: #3dc2ff;
$tertiary: #5260ff;
$success: #149914;
$warning: #ffc409;
$danger: #f53d3d;
$dark: #222428;
$medium: #92949c;
$light: $lightGrey;
$tertiary-light: #98a4ff;
$danger-light: #ff7b7b;
$purple: #6433D7;


$base-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "dark": $dark,
    "medium": $medium,
    "light": $light,
    "tertiary-light": $tertiary-light,
    "danger-light": $danger-light,
    "purple": $purple,
);

// card list
$list-blue: #0842B7;
$list-blue-light: #7092D6;
$list-green: $success;
$list-green-light: #C6E1C7;
$list-orange: #FF5B00;
$list-orange-light: #FF9F68;
$list-yellow: #F4B400;
$list-yellow-light: #F8D266;

$list-colors: (
    "list-blue": $list-blue,
    "list-blue-light": $list-blue-light,
    "list-orange": $list-orange,
    "list-orange-light": $list-orange-light,
    "list-yellow": $list-yellow,
    "list-yellow-light": $list-yellow-light,
    "list-green": $list-green,
    "list-green-light": $list-green-light
);

$colors: map-merge(
    map-merge($base-colors, $list-colors),
    (
        "white": $white,
        "black": $black,
        "lightBlue": $lightBlue,
        "lightGrey": $lightGrey
    )
);
