@import "~leaflet/dist/leaflet.css";

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content {
    margin: 2px 6px;
    color: black;
}

.leaflet-popup-content-wrapper {
    border-radius: 3px;
}