@import "~theme/variables";


.page-content {
    margin-top: $spacer;
    margin-bottom: $spacer;

    .num-track-counter {
        margin-left: 10px;
        margin-bottom: 10px;

        span {
            font-weight: bold;
            font-size: $normalFontSize;
        }
    }
}
