<div class="page-content"
     scroll-y="true">
    <div class="num-track-counter">
        <span>Total numéro de tracking transporteur : {{ truckArrivalLinesListConfig ? truckArrivalLinesListConfig.length : 0 }}</span>
    </div>
    <wii-list-panel [body]="truckArrivalLinesListConfig"></wii-list-panel>
</div>

<div class="page-footer persisted-page-footer">
    <wii-barcode-scanner #footerScannerComponent
                         [hidden]="loading"
                         [mode]="scannerModeManual"
                         (add)="testIfBarcodeEquals($event[0], $event[1])">
    </wii-barcode-scanner>

    <ion-button class="submit-button larger"
                color="primary"
                size="large"
                expand="full"
                (click)="next()">
        Suivant
        <wii-icon name="check.svg"
                  class="button-icon"
                  color="white">
        </wii-icon>
    </ion-button>
</div>
