<div class="ion-page">
    <wii-form-panel #formPanelComponent *ngIf="headerConfig" [header]="headerConfig"></wii-form-panel>

    <ion-button color="primary" expand="full" (click)="toggleMap()">
        <wii-icon class="button-icon" name="double-arrow-down.svg" color="white" [style.transform]="mapVisible ? '' : 'rotate(180deg)'"></wii-icon>
        Voir le circuit de la tournée
    </ion-button>
    <wii-leaflet-map *ngIf="mapVisible" [markers]="markers"></wii-leaflet-map>

    <div class="transport-list" *ngIf="round">
        <div *ngFor="let transport of round.lines" class="card-container">
            <wii-transport-card [transport]="transport" [mode]="mode" (click)="showTransport(transport)">

            </wii-transport-card>
        </div>
    </div>
</div>