<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Dépose</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <div>
            <ion-title *ngIf="!emplacement">
                <ion-icon class="big-icon" name="barcode" (click)="scanLocation()"></ion-icon>
                <br>
                Flashez un emplacement
            </ion-title>

            <ion-card>
                <ion-card-content>
                    <ion-item>
                        <ion-label *ngIf="!emplacement">sélectionner un emplacement</ion-label>
                        <ionic-selectable
                                item-content
                                [(ngModel)]="emplacement"
                                [items]="db_locations"
                                itemValueField="id"
                                itemTextField="label"
                                [canSearch]="true"
                                (onSearch)="searchEmplacement($event)"
                                (onChange)="emplacementChange($event)">
                            <ng-template ionicSelectableSearchFailTemplate>
                            </ng-template>
                        </ionic-selectable>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

</ion-content>

<ion-footer padding>
    <div class="d-flex">
        <ion-icon class="big-icon" name="arrow-dropleft-circle" navPop></ion-icon>
        <ion-icon class="big-icon" name="checkmark-circle" (click)="goToArticles()"></ion-icon>
    </div>
</ion-footer>