// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/fonts";
@import "../theme/icons";

// surcharges classes ionic
ion-title {
    text-align: center;
}

ion-icon {
    font-size: 2em;
}

ion-grid {
    ion-col {
        padding: 5px !important;
    }
}

// éléments génériques
.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barcode-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .barcode {
        font-size: 7em;
    }

    .barcode-label {
        font-size: 16pt;
        font-weight: 300;
        margin-top: 2rem;
    }
}

.small-icon {
    font-size: 1.4em;
}

.big-icon {
    font-size: 4em;
}

.big-button {
    height: 12em;
    width: 90%;
    //background-color: $lightGrey;
}

.m-6 {
    margin: 6px;
}

.list {
    color: $grey;
}

.toast-error {
    > div {
        background-color: $danger;
    }
}

.dark-grey {
    color: $darkGrey;
}

ion-item {
    &.ionic-selectable-container {
        padding: 0;
    }
    &.without-label {
        ion-label {
            display: none;
        }
    }
    .ionic-selectable {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.alertAlert {
    background-color: #149914 !important;
    color: #FFF !important;
    font-family: 'Myriad Pro' !important;
}

.text-right {
    text-align: center;
}
