// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/fonts";
@import "../theme/icons";
@import "../theme/variables";
@import "../theme/style-variables";

// surcharges classes ionic
ion-title {
    text-align: center;
    margin-bottom: 2rem;

    .icon {
        width: 50px
    }
}

ion-icon {
    font-size: 2em;
}

ion-grid {
    ion-col {
        padding: 5px !important;
    }
}

// éléments génériques
.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barcode-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .barcode {
        font-size: 7em;
    }

    .barcode-label {
        font-size: 16pt;
        font-weight: 300;
        margin-top: 2rem;
    }
}

.small-icon {
    font-size: 1.4em;
}

.big-icon {
    font-size: 4em;
}

.big-button {
    height: 12em;
    width: 90%;
    //background-color: $lightGrey;
}

.m-6 {
    margin: 6px;
}

.list {
    color: $grey;
}

.toast-error {
    > div {
        background-color: $danger;
    }
}

.dark-grey {
    color: $darkGrey;
}

ion-item {
    padding: 0 !important;

    &.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: $primary;
        -webkit-box-shadow: inset 0 -1px 0 0 $primary;
        box-shadow: inset 0 -1px 0 0 $primary;
    }

    &.without-label {
        ion-label {
            display: none;
        }
    }
    .ionic-selectable {
        width: 100% !important;
        max-width: 100% !important;
    }
}

button[ion-button] {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.spinner {
    text-align: center;
}

.alertAlert {
    background-color: #149914 !important;
    color: #FFF !important;
    font-family: 'Myriad Pro' !important;
}

.text-right {
    text-align: center;
}


// TODO Remove spinner

.spinner-container {
    position: fixed;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .main-spinner {
        height: 90px !important;
        width: 90px !important;
    }

    .spinner-text {
        font-weight: 300;
        font-size: 13pt;
    }
}

.ion-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ion-content {
    &[padding] .ion-page {
        padding: 16px;
    }

    &.with-header {
        .ion-page {
            height: calc(100% - 82px);
        }
    }

    button[ion-button][color="success"] {
        background-color: $green;
    }
}
