<div class="page-footer">
    <ion-button class="larger"
                color="primary"
                size="large"
                expand="full"
                (click)="delivery()">
        Colis non livrés
        <wii-icon class="button-icon"
                  name="cancelled-delivery.svg"
                  color="white">
        </wii-icon>
    </ion-button>
    <ion-button class="larger"
                color="primary"
                size="large"
                expand="full"
                (click)="collect()">
        Objets collectés
        <wii-icon class="button-icon"
                  name="collect-hand.svg"
                  color="white">
        </wii-icon>
    </ion-button>
</div>