@import "../../../theme/variables";


wii-main-header {
    display: block;

    ion-toolbar {
        .icon-placeholder {
            width: 29px;
        }

        .toolbar-content {
            display: flex;
            justify-content: space-between;
        }

        .toolbar-background {
            background-color: $primary;
        }

        .header-title {
            .logo {
                width: 80px;
                padding: 3px
            }
            .user {
                font-size: 15px;
                text-align: center;
                font-weight: bold;
                color: $white;
            }
        }

        button {
            background-color: transparent;
            ion-icon {
                color: $white;
            }
        }
    }
}
