<div *ngIf="!loading && headerHide.indexOf(currentPageName) === -1"
     #content>
    <ion-toolbar>
        <ng-template #iconPlaceholderTemplate>
            <div class="header-icon-container">
                <div class="header-icon"></div>
            </div>
        </ng-template>

        <button *ngIf="iconLeftHide.indexOf(currentPageName) === -1; else iconPlaceholderTemplate"
                class="header-icon-container"
                (click)="iconLogoutShow.indexOf(currentPageName) > -1 ? doLogout() : doPop()">
            <wii-icon [name]="iconLogoutShow.indexOf(currentPageName) > -1 ? 'logout.svg' : 'arrow-left.svg'"
                      color="white"
                      class="header-icon">
            </wii-icon>
        </button>
        <div class="header-title">
            <img alt="FollowGT" src="assets/images/followgt_bg_transparent.svg" class="logo" (load)="onImageLoad()"/>
            <div class="user" *ngIf="userHide.indexOf(currentPageName) === -1 && loggedUser">{{ loggedUser }}</div>
        </div>
        <button *ngIf="iconMenuHide.indexOf(currentPageName) === -1; else iconPlaceholderTemplate"
                class="header-icon-container"
                (click)="goHome()">
            <wii-icon name="home.svg" color="white" class="header-icon"></wii-icon>
        </button>
    </ion-toolbar>
    <nav class="title-toolbar" *ngIf="currentTitles.length > 0">
        <div class="main-titles">
        <ng-container *ngFor="let config of currentTitles; let last = last">
            <span *ngIf="config.enableClick" (click)="onTitleClick(config.view)">{{config.label}}</span>
            <span *ngIf="!config.enableClick">{{config.label}}</span>
            <ng-container *ngIf="!last">|</ng-container>
        </ng-container>
        </div>
        <div class="sub-title" *ngIf="subTitle$|async as subtitle">
            {{ subtitle }}
        </div>
    </nav>
</div>
