@import "../../../theme/variables";


wii-main-header {
    display: block;

    ion-toolbar {
        .header-icon-container {
            padding: 6px;

            .header-icon {
                height: 21px;
                width: 21px;
            }
        }

        .toolbar-content {
            display: flex;
            justify-content: space-between;
        }

        .toolbar-background {
            background-color: $primary;
        }

        .header-title {
            text-align: center;
            .logo {
                width: 80px;
                padding: 3px
            }
            .user {
                font-size: 15px;
                text-align: center;
                font-weight: bold;
                color: $white;
            }
        }

        button {
            background-color: transparent;
            ion-icon {
                color: $white;
            }
        }
    }

    .title-toolbar {
        padding: 1.6rem 1rem;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04);
        background-color: $white;

        .main-titles {
            text-align: center;
            font-size: 13pt;

            :last-child {
                color: $primary;
                font-weight: bold;
            }
        }

        .sub-title {
            text-align: center;
            font-size: 11pt;
            font-style: italic;
            color: $primary;
            padding-top: .5rem;
        }

    }
}
