@import "../../../theme/variables";

wii-signature-pad {
    .wrapper {
        background-color: white;
        display: flex;
        flex: 1;
        flex-direction: column;

        .signature-wrapper {
            flex: 1;
            signature-pad {
                display: block;
            }
        }

        .page-header {
            text-align: center;
            height: 40px;
            color: $primary;
            padding: .8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .pop-button {
                background-color: transparent;
                padding: .5rem;
            }

            .clear-button {
                width: 25px;
                height: 25px;
            }

            h5 {
                margin: 0;
            }
        }
    }
}
