<div class="spinner" *ngIf="loadingStartPreparation">
    <ion-spinner></ion-spinner>
</div>

<ng-container *ngIf="!loadingStartPreparation && preparation && preparationsHeaderConfig">
    <ion-scroll scrollY="true" class="page-content">
        <wii-panel-header [leftIcon]="preparationsHeaderConfig.leftIcon"
                          [title]="preparationsHeaderConfig.title"
                          [subtitle]="preparationsHeaderConfig.subtitle"
                          [info]="preparationsHeaderConfig.info"
                          [transparent]="true"
                          class="page-header">
        </wii-panel-header>

        <wii-list-panel *ngIf="listTreatedConfig"
                        [header]="listTreatedConfig.header"
                        [body]="listTreatedConfig.body"
                        [boldValues]="listBoldValues">
        </wii-list-panel>

        <wii-list-panel *ngIf="listToTreatConfig"
                        [header]="listToTreatConfig.header"
                        [body]="listToTreatConfig.body"
                        [boldValues]="listBoldValues">
        </wii-list-panel>
    </ion-scroll>

    <div class="page-footer persisted-page-footer" *ngIf="listToTreatConfig">
        <wii-barcode-scanner #footerScannerComponent
                             [buttonSubtitle]="'article'"
                             [onlyScan]="true"
                             (add)="testIfBarcodeEquals($event[0])">
        </wii-barcode-scanner>
    </div>
</ng-container>
