<div class="titles" *ngIf="hasLoaded">
    <div class="title" *ngIf="!manutention">Aucune manutention<br>à traiter.</div>
    <div class="title" *ngIf="manutention">Menu | <b class="important">Manutentions</b></div>
    <p *ngIf="manutention" class="subtitle">Détails</p>
</div>
<wii-main-loader [loading]="!hasLoaded"></wii-main-loader>
<ion-scroll scrollY="true" *ngIf="hasLoaded" class="page-content">
    <ion-list class="manutention-details">
        <ion-row>
            <ion-col class="label">Demandeur</ion-col>
            <ion-col class="value">{{ manutention.demandeur }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="label">Date attendue</ion-col>
            <ion-col class="value">{{ toDate(manutention) | date:'dd/MM/yyyy H:mm'  }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="label">Source</ion-col>
            <ion-col class="value">{{ manutention.source }}"</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="label">Destination</ion-col>
            <ion-col class="value">{{ manutention.destination }}"</ion-col>
        </ion-row>
    </ion-list>
    <button class="commentaire_button" (click)="showCommentaire()">
        <span><b>Commentaire</b></span>
        <wii-icon name="search.svg" class="icon" color="dark"></wii-icon>
    </button>
    <div class="commentaire" *ngIf="showCom" [innerHTML]="manutention.commentaire">
    </div>
</ion-scroll>
<div class="page-footer">
    <button class="validate-button"
            color="success"
            ion-button
            (click)="validateManut()">
        <span><b>VALIDER</b></span>
        <wii-icon name="check.svg" class="icon" color="white"></wii-icon>
    </button>
</div>
