<div scroll-y="true"
     class="page-content">
    <ion-button fill="outline"
                class="custom-fill-button"
                expand="block"
                (click)="filter()">
        Filtrer
    </ion-button>
    <div class="filters" *ngIf="(filters.from || filters.to || filters.status || filters.type) && labelFrom && labelTo">
        <p class="filter" *ngIf="filters.from">{{labelFrom}} : {{filters.from.text}}</p>
        <p class="filter" *ngIf="filters.to">{{labelTo}} : {{filters.to.text}}</p>
        <p class="filter" *ngIf="filters.status">Statut : {{filters.status.text}}</p>
        <p class="filter" *ngIf="filters.type">Type : {{filters.type.text}}</p>
    </div>
    <wii-card-list  [color]="dispatchesListColor"
                    [config]="dispatchesToSignListConfig"
                    [header]="headerDispatchsToSign">
    </wii-card-list>
    <wii-card-list [color]="dispatchesListColor"
                   [config]="dispatchesListConfig"
                   [header]="headerFilteredDispatchs">
    </wii-card-list>
</div>
<ion-button class="submit-button larger"
            color="primary"
            size="large"
            expand="full"
            (click)="validateGroupedSignature()">
    Valider
    <wii-icon name="check.svg"
              class="button-icon"
              color="white">
    </wii-icon>
</ion-button>
