@import "~theme/variables";

:host {
    display: block;

    .icon-button,
    .icon-wrapper {
        width: 100%;
        height: 100%;
    }

    .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        &::ng-deep > svg {
            height: 100%;
            width: 100%;
        }
    }

    .icon-button {
        background-color: transparent;
        position: relative;
        padding: 5px;

        &,
        ion-ripple-effect {
            border-radius: 50%;
        }
    }

    @each $name, $value in $colors {
        .icon-wrapper.#{$name} ::ng-deep svg {
            .svg-stroke {
                stroke: $value !important;
            }

            .svg-fill {
                fill: $value !important;
            }
        }
    }

}
