<div class="menu-list" *ngIf="config">
    <ion-card class="menu-item ion-activatable ripple-parent"
              type="button"
              *ngFor="let item of config"
              (click)="item.action()"
              [class.small-column]="columns === ColumnNumber.THREE">
        <wii-icon [name]="item.icon"
                  [color]="item.iconColor"
                  class="menu-icon"></wii-icon>
        <span class="menu-label" [innerHTML]="item.label"></span>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
    <div class="menu-item empty"
         [class.small-column]="columns === ColumnNumber.THREE"
         *ngIf="firstPlaceholderDisplayed">
    </div>
    <div class="menu-item empty"
         [class.small-column]="columns === ColumnNumber.THREE"
         *ngIf="secondPlaceholderDisplayed">
    </div>
</div>
