@import "~theme/variables";

:host {
    display: block;

    .menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: $spacer / 2;
        padding-right: $spacer / 2;

        & > .menu-item {
            margin: ($spacer / 2) ($spacer / 4);
            width: 10rem;
            height: 10rem;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu-label {
                margin-top: .7rem;
                color: $medium;
                font-weight: normal;
                font-size: 13pt;
                text-align: center;
            }

            .menu-icon {
                width: 3.7rem;
                height: 3.7rem;
                margin: 0;
            }
        }
    }
}
