@import "~theme/variables";

:host {
    display: flex;
}

.tabs-wrapper {
    display: flex;
    flex: 1;
    border: $primary solid 3px;
    padding: 3px;
    background-color: $white;

    .tab {
        flex: 1;
        font-size: 14px;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
        color: $primary;

        &.active {
            background-color: $primary;
            color: $white;
        }
    }
}
