.ordre-card {
	background: #cc0000;
}

$header-color:#130078;

.title-header {
    padding: 20px 35px;
    background-color: $header-color;
    color: #fcfcfc;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}