@import "~theme/variables";

.page-content {
    padding: $spacer;
}

.pack-container {
    display: flex;
    align-items: flex-start;

    .pack-wrapper {
        display: flex;
        flex-direction: column;

        .pack-informations {
            .from-wrapper {
                img {
                    width: 20px;
                    margin: 0 5px 0 5px;
                }

                .from-dispatch {
                    color: #030F4C;
                    text-decoration: underline;
                }
            }
        }
    }

    .page-title-icon {
        width: 55px;
        margin-right: $spacer/2;
    }

    .page-title {
        font-weight: bold;
    }

    .spacer {
        margin-bottom: 10px;
    }
}

.references-container {
    margin-top: 10px;

    .reference-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
        margin-top: 10px;
        padding: 10px;

        .reference-details {
            display: flex;
            flex-direction: column;
        }

        &.emergency {
            background-color: #EDC3CC;
        }

        img {
            width: 60px;
        }
    }
}
