@import "~theme/variables";

:host {
    display: block;

    wii-panel-header {
        margin: $spacerMin;
    }

    .actions-container {
        display: flex;

        ion-button {
            flex: 1;

            wii-icon {
                width: 25px;
                margin-right: $spacer;
            }
        }
    }

    wii-list-panel-item {
        margin-right: $spacer * 1.2;
        margin-left: $spacer * 1.2;

        &:not(:last-child) {
            margin-bottom: .35rem;
        }
    }
}
