<wii-panel-header *ngIf="header"
                  [color]="header.color"
                  [item]="header.item"
                  [leftIcon]="header.leftIcon"
                  [title]="header.title"
                  [subtitle]="header.subtitle"
                  [info]="header.info"
                  [rightIcons]="header.rightIcon"
                  [rightIconLayout]="header.rightIconLayout"
                  [fireAction]="!!header.action"
                  (action)="onHeaderClicked($event)">
</wii-panel-header>

<div class="actions-container"
     *ngIf="actions && actions.length > 0">
    <ion-button *ngFor="let actionConfig of actions"
                (click)="actionConfig.action($event)"
                color="primary">

        <wii-icon *ngIf="actionConfig.icon"
                  [color]="actionConfig.icon.color"
                  [customColor]="actionConfig.icon.customColor"
                  [name]="actionConfig.icon.name">
        </wii-icon>
        {{actionConfig.label}}
    </ion-button>
</div>

<wii-list-panel-item *ngFor="let object of body; trackBy: trackByGenerator"
                     [class.sub-list]="header"
                     [class.selected]="object.selected"
                     [infos]="object.infos"
                     [color]="object.color"
                     [badge]="object.badge"
                     [backgroundColor]="object.backgroundColor"
                     [loading]="object.loading"
                     [disabled]="object.disabled"
                     [pressAction]="object.pressAction"
                     [rightIcon]="object.rightIcon"
                     [rightButton]="object.rightButton"
                     [leftIcon]="object.leftIcon"
                     [rightIconBase64]="object.rightIconBase64"
                     [boldValues]="boldValues"
                     [sliding]="object.sliding"
                     [textRight]="object.textRight"
                     [slidingConfig]="object.slidingConfig">
</wii-list-panel-item>
