<wii-panel-header *ngIf="header"
                  [leftIcon]="header.leftIcon"
                  [title]="header.title"
                  [subtitle]="header.subtitle"
                  [info]="header.info"
                  [rightIcons]="header.rightIcon"
                  [fireAction]="!!header.action"
                  (action)="onHeaderClicked($event)">
</wii-panel-header>

<wii-list-panel-item *ngFor="let object of body; trackBy: trackByGenerator"
                     [infos]="object.infos"
                     [color]="object.color"
                     [backgroundColor]="object.backgroundColor"
                     [loading]="object.loading"
                     [disabled]="object.disabled"
                     [pressAction]="object.pressAction"
                     [rightIcon]="object.rightIcon"
                     [rightIconBase64]="object.rightIconBase64"
                     [boldValues]="boldValues">
</wii-list-panel-item>
