page-entree-flash {
	.title-header {
	    background-color: var(--header-color-entree, #6ef500);
	}

	h1 {
	  margin-bottom: 50%;
	}

	.band {
	  background: var(--header-color-entree, #6ef500);
	}

	.button {
	  background: var(--header-color-entree, #6ef500);
	}
}
