<div class="page-content"
     scroll-y="true"
     *ngIf="!loading">
    <wii-list-panel *ngIf="listConfig && listConfig.body"
                    [body]="listConfig.body"
                    [boldValues]="listConfig.boldValues">
    </wii-list-panel>
</div>

<div class="page-footer">
    <wii-barcode-scanner #footerScannerComponent
                         [hidden]="loading"
                         buttonSubtitle="Article"
                         [mode]="scannerMode"
                         (add)="checkAndTreatBarcode($event[0])">
    </wii-barcode-scanner>
</div>
