<div class="page-content">
    <wii-panel-header *ngIf="selectedLocation"
                      title="Emplacement"
                      [leftIcon]="{name: 'inventory.svg'}"
                      [subtitle]="selectedLocation">
    </wii-panel-header>
</div>

<div class="page-footer">
    <wii-select-item #selectItemComponent
                     [hidden]="!!dataSubscription"
                     *ngIf="selectItemType !== undefined && requestParams"
                     [type]="selectItemType"
                     (itemChange)="navigateToInventoryValidate($event)"
                     [checkBarcodeValidity]="true"
                     [resetEmitter]="resetEmitter$"
                     [requestParams]="requestParams"
                     [scanMode]="scannerMode">
    </wii-select-item>
</div>
