<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Préparation add
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="title-header">
    Préparation
  </div>

  <h1 text-center>
    Flash articles
  </h1>

  <ion-fab horizontal="center" vertical="center">
    <ion-fab-button color="light">
      <ion-icon size="large" name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button color="light" (click)="openPage()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>