<ion-toolbar *ngIf="!loading && headerHide.indexOf(currentPageName) === -1">
    <button *ngIf="iconPopHide.indexOf(currentPageName) === -1; else leftElement"
            (click)="doPop()">
        <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ng-template #leftElement>
        <div class="icon-placeholder"></div>
    </ng-template>
    <div class="header-title">
        <img alt="FollowGT" src="assets/images/followgt_bg_transparent.svg" class="logo"/>
        <div class="user" *ngIf="userHide.indexOf(currentPageName) === -1 && loggedUser|async as userStr">{{ userStr }}</div>
    </div>
    <button *ngIf="iconMenuHide.indexOf(currentPageName) === -1; else rightElement" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
    </button>
    <ng-template #rightElement>
        <div class="icon-placeholder"></div>
    </ng-template>
</ion-toolbar>
