@import "~theme/variables";

:host {
    .wrapper {
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        display: flex;

        .search-icon {
            margin-left: $spacerMin;
            width: 32px;
            height: 32px;
        }
    }
}
