@import "~theme/variables";

:host {
    display: block;
    background-color: $white;
    border: 1px solid $lightBlue;
    font-size: $normalFontSize;

    ion-label,
    ion-item {
        font-size: $normalFontSize;
    }


    .wrapper {
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        display: flex;
        .search-icon {
            margin-left: $spacerMin;
            width: 32px;
            height: 32px;
        }
    }
}
