page-sortie-flash {
	.title-header {
	    background-color: var(--header-color-sortie, #f08800);
	}

	h1 {
	  margin-bottom: 50%;
	}

	.band {
	  background: var(--header-color-sortie, #f08800);
	}

	.button {
	  background: var(--header-color-sortie, #f08800);
	}
}
