page-preparation-add {
	label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: 700;
	}

	.title-header {
	    background-color: var(--header-color-preparation, #ffbc02);
	}

	h1 {
	    margin-bottom: 20px; 
    }
}
