<wii-form-field [label]="label"
                [required]="inputConfig.required"
                [inline]="inline">
    <ng-container field>
        <div class="camera-image-container">
            <ng-container *ngIf="!inputConfig.multiple && value">
                <ng-container [ngTemplateOutlet]="photoTemplate"
                              [ngTemplateOutletContext]="{src: value}">
                </ng-container>
            </ng-container>
            <ng-container *ngIf="inputConfig.multiple">
                <ng-container *ngFor="let src of value; let index = index"
                              [ngTemplateOutlet]="photoTemplate"
                              [ngTemplateOutletContext]="{src: src, index: index}">
                </ng-container>
            </ng-container>
        </div>
        <wii-icon *ngIf="!inputConfig.disabled && displayCameraButton"
                  class="add-camera"
                  color="success"
                  name="camera.svg"
                  (action)="onItemClicked()">
        </wii-icon>
    </ng-container>
</wii-form-field>

<ng-template #photoTemplate
             let-src="src"
             let-index="index">
    <img class="camera-image"
         alt="photo"
         [src]="src"
         (click)="onPhotoClicked(index)"/>
</ng-template>
