@import "~theme/variables";

:host {
    padding: $spacerMin;
    display: block;

    ion-item {
        margin-bottom: .5rem !important;
        ion-input {
            font-size: $normalFontSize;
        }
    }

    .plus-icon {
        margin-left: 5px;
        width: 30px;
        height: 30px;
        z-index: 100;
    }

    .tools {
        text-align: center;
        margin-bottom: $spacer;

        .tools-icon {
            &:not(:first-child) {
                margin-left: ($spacer * 3) !important;
            }

            width: 2.4rem;
            height: 2.4rem;
            display: inline-block;
        }
    }

    .scanner-button {
        margin: 0;
    }
}
