<wii-main-loader [loading]="!hasLoaded"></wii-main-loader>
<div scroll-y="true"
     *ngIf="hasLoaded" class="page-content">
    <ion-list class="handling-details">
        <ion-row>
            <ion-col class="label">Demandeur</ion-col>
            <ion-col class="value">{{ handling.demandeur }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="label">Date attendue</ion-col>
            <ion-col class="value">{{ handling.date_attendue }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="label">Objet</ion-col>
            <ion-col class="value">{{ handling.objet  }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="label">Source</ion-col>
            <ion-col class="value">{{ handling.source }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="label">Destination</ion-col>
            <ion-col class="value">{{ handling.destination }}</ion-col>
        </ion-row>
    </ion-list>
    <button class="commentaire_button" (click)="showCommentaire()">
        <span><b>Commentaire</b></span>
        <wii-icon name="search.svg" class="icon" color="dark"></wii-icon>
    </button>
    <div class="commentaire" *ngIf="showCom" [innerHTML]="handling.commentaire">
    </div>
</div>
<div class="page-footer">
    <ion-button class="larger"
                color="success"
                size="large"
                expand="full"
                (click)="validateHandling()">
        Valider
        <wii-icon name="check.svg" class="button-icon" color="white"></wii-icon>
    </ion-button>
</div>
