<ion-content padding>
    <wii-main-loader [loading]="!hasLoaded"></wii-main-loader>
    <ion-title *ngIf="hasLoaded && preparations && preparations.length === 0">Aucune préparation<br>à traiter.</ion-title>
    <ion-list *ngIf="hasLoaded && preparations && preparations.length > 0">
        <ion-grid>
            <button (click)="goToArticles(preparation)" class="list" ion-item *ngFor="let preparation of preparations">
                <ion-row>
                    <ion-col>
                        <p class="title-tmp">Préparation {{ preparation.numero }}</p>
                        <div class="sub">
                            <p>Emplacement : {{ preparation.destination }}</p>
                            <p>Flux : {{ preparation.type }}</p>
                        </div>
                    </ion-col>
                </ion-row>
            </button>
        </ion-grid>
    </ion-list>
</ion-content>
