@import "../../../../theme/variables";

wii-form-panel {
    display: flex;

    & > ion-scroll {
        flex: 1;
        wii-panel-header {
            margin: .35rem;
        }

        wii-form-panel-input,
        wii-form-panel-signing {
            margin-right: $spacer * 1.2;
            margin-left: $spacer * 1.2;

            &:not(:last-child) {
                margin-bottom: .35rem;
            }
        }
    }
}
