<ion-header>
    <ion-toolbar>
        <ion-title>Follow GT</ion-title>
    </ion-toolbar>
</ion-header>
<!-- TODO pas possible mutualiser header ?? -->

<ion-content>
    <wii-main-loader [loading]="loading"
                     [message]="messageLoading"></wii-main-loader>
    <ng-container *ngIf="!loading">
        <ion-grid>
            <ion-row class="row-menu-stats">
                <ion-slides pager>
                    <ion-slide>
                        <ion-col class="col-menu-stats">
                            <p class="number">{{nbPrep}}</p>
                            <p>Préparation{{nbPrep > 1 ? 's' : ''}} à traiter</p>
                            <br>
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col class="col-menu-stats">
                            <p class="number">{{nbPrepT}}</p>
                            <p>Préparation{{nbPrepT > 1 ? 's' : ''}} traitée{{nbPrepT > 1 ? 's' : ''}}</p>
                            <br>
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col class="col-menu-stats">
                            <p class="number">{{nbArtInvent}}</p>
                            <p>Article{{nbArtInvent > 1 ? 's' : ''}} à inventorier</p>
                            <br>
                        </ion-col>
                    </ion-slide>
                </ion-slides>
            </ion-row>
        </ion-grid>
        <ion-grid class="gridMenu">
            <ion-row>
                <ion-col col-6 *ngFor="let item of items" (click)="itemTapped($event, item)">
                    <button ion-button outline class="big-button" color="dark">
                        <ion-card-content>
                            <ion-icon *ngIf="item.img === null" class="big-icon" name="{{ item.icon }}"></ion-icon>
                            <img *ngIf="item.img !== null" src="{{ item.img }}" height="60px" width="60px">
                            <p text-center>{{ item.title }}</p>
                        </ion-card-content>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
</ion-content>
<ion-footer padding *ngIf="!loading">
    <div class="d-flex">
<!--        <ion-icon class="big-icon" name="settings" (click)="goToParams()"></ion-icon>-->
        <ion-icon class="big-icon" name="refresh" item-right (click)="synchronise()"></ion-icon>
    </div>
</ion-footer>
