page-menu {

    .menu-icon {
        width: 60px;
        height: 60px;
    }

    .gridMenu {
        width: auto;
        margin: auto;
        display: block;
    }

    .col-menu-stats {
        margin: 0 auto;
    }

    .row-menu-stats {
        display: flex;
        justify-content: center;
        background-color: white;
        text-align: center;

        > ion-col {
            padding-bottom: 10px;
        }

        ion-col {
            border: 1px solid #f4f4f7;
        }

        p {
            font-size: 23px;
            margin-bottom: 0px;
            font-weight: 100;
            color: black;

            &.number {
                font-size: 34px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        ion-slide {
            padding-bottom: 10px;
        }
    }
}
