<div scroll-y="true"
     class="page-content">
  <wii-list-panel *ngIf="packsDeliveredListConfig"
                  [header]="packsDeliveredListConfig.header"
                  [body]="packsDeliveredListConfig.body"
                  [boldValues]="listBoldValues"
                  sliding="true">
  </wii-list-panel>
  <wii-list-panel *ngIf="packsToDeliverListConfig"
                  [header]="packsToDeliverListConfig.header"
                  [body]="packsToDeliverListConfig.body"
                  [boldValues]="listBoldValues"
                  sliding="true">
  </wii-list-panel>
</div>

<div class="page-footer persisted-page-footer">
  <wii-barcode-scanner #footerScannerComponent
                       [mode]="scannerMode"
                       (add)="deliverPack($event[0])">
  </wii-barcode-scanner>
  <ion-button class="submit-button larger"
              color="primary"
              size="large"
              expand="full"
              (click)="validate()"
              [disabled]="disabled">
    Valider
    <wii-icon name="check.svg"
              class="button-icon"
              color="white">
    </wii-icon>
  </ion-button>
</div>


